
@model List<Cart>
@{
    ViewBag.Title = "Cart";
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <title>
        Cart
    </title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Roboto&display=swap"
          rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/87603dad33.js"
            crossorigin="anonymous"></script>

</head>

<body>
    @Html.Partial("NavBar")
<div style="margin: 70px;padding: 90px">
    <h1>Cart</h1>
    @foreach (var item in Model)
    {
        <div>
            <img src="@Url.Content(@item.image)" width="200" height="200"/>
            <h2>@item.name</h2>
            <h2>@item.price</h2>
            <button>
                <a href="Cart/RemoveTeacher/"> Remove From Cart`</a>
            </button>
        </div>
    }
</div>
@await Html.PartialAsync("Footer");
</body>
</html>