@model List<Teacher>

@{
    ViewBag.Title = "Teachers";
    Layout = "_LayoutDaftar";
}

<link rel="stylesheet" href="css/teacher.css"/>

<div class="search-box">
    <div class="">
        <input type="text" placeholder="Search a Teacher">
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row gap-0 p-5">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img src="@Url.Content(item.AvatarLink)" class="card-img-top" style="width: 20rem; height: 20rem; object-fit: cover" alt="Teacher Photo">
                    <div class="card-body">
                        <h4 class="card-title">@string.Concat(item.FirstName, " ", item.LastName)</h4>
                        <p class="card-title">@item.Major</p>
                        <p class="card-title">@item.Email</p>
                        <p class="card-title row">
                            <span class="row-cols-2">@item.PhoneNumber </span><span class="row-cols-1">@item.MonthlyPrice</span>
                        </p>
                        <div class="row p-3 flex-row gap-3">
                            <a href="/Favorite/AddTeacher/@item.Teacher_Id" class="btn btn-primary col-sm">Add Favorite</a>
                            <a href="/Teachers/@item.Teacher_Id" class="btn btn-secondary col-sm">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}